//colors
$primary-color: #004991;
$secondary-color: #313131;
$white: #fff;
$black: #000;
$light:#EEEEEE;
$gray: #D0D0D0;

//fonts
$regular-font: "Raleway", sans-serif;
$title-font: "Cormorant Infant", sans-serif;

// text sizes
$text-sm: 14px;

//Header Variables
$dark-bg: #00A4E0;
$light-bg: $secondary-color;
$header-text: $white;

//Hero Variables
$light-color-text: $white;
$primary-color-text: $primary-color;
$bg-primary-color: $primary-color;
$bg-white-color: $white;
$bg-gray-light: $light;

// Section Icons variables
$section-icon-title: $primary-color;

//Card Icon variables
$card-icon-title: $secondary-color;
$section-separation: $gray;

//Last Cards variables
$last-cards-title1: $primary-color;
$last-cards-title2: $white;

//footer variables
$footer-text: $white;
$footer-bg: $secondary-color;
