@import "./fonts.css";

html {
  font-family: "Poppins", sans-serif;
}

.bg-image {
  background-image: url("../images/studyBackground.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.bg-opacity {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
